/* CSS for app */

.btnGreen{
	-fx-background-color:  #6b0c0c;
	-fx-text-fill: #ffffff;
}

.background{
    -fx-background-image: url(../images/background-login.jpg)
}

.userlist{
    -fx-font-style: Verdana;
    -fx-font-size: 24px;
}
