/* CSS for app */

.btnGreen{
	-fx-background-color:  #6b0c0c;
	-fx-text-fill: #ffffff;
	-fx-font-style: Verdana;
    -fx-font-size: 24px;
}

.background{
    -fx-background-image: url(../images/background-login.jpg)
}

.userlist{
    -fx-font-style: Verdana;
    -fx-font-size: 24px;
}

.custom-alert .button {
  -fx-font-family: Verdana;
  -fx-font-size: 16pt;
  -fx-min-width: 90px;
  -fx-min-height: 60px;
  -fx-background-color: #6b0c0c;
  -fx-text-fill: white;
}

.custom-alert .content-label {
  -fx-font-size: 4pt;
}